.header-container {
    display: flex;
    width: 343px;
    height: 80px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 169px;
    margin-top: 32px;
}

.image-header {
    display: flex;
    gap: 8px;
}

header {
    position: absolute;
}